[submodule "Extern/glm"]
	path = Extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "Extern/HighFive"]
	path = Extern/HighFive
	url = https://github.com/BlueBrain/HighFive.git
[submodule "Extern/matplotlib"]
	path = Extern/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp.git
